@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Azure PM Team:</strong>   <a href="mailto:AzureITFM@microsoft.com">AzureITFM@microsoft.com</a><br />
</address>